* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0.5rem 0.3rem;
  margin: auto;
}
header .nav {
  max-width: 1100px;
  padding: 0 1rem;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .nav .top {
  text-decoration: none;
  list-style: none;
}
header .nav .top li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: blue;
}
@media (max-width: 700px) {
  header .nav .top li a {
    font-size: 22.5px;
    letter-spacing: 1.5px;
  }
}
header .nav .start {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
header .nav .start li a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: rgb(23, 25, 31);
  transition-duration: 0.5s;
}
@media (max-width: 800px) {
  header .nav .start li a {
    font-size: 16px;
    padding: 0 0.7rem;
    font-weight: 700;
  }
}
header .nav .start li a:hover {
  padding: 0.25rem 1rem;
  background-color: #6987ff;
  border-radius: 5px;
  color: white;
  text-align: center;
}

aside {
  width: 100%;
  margin: auto;
}
aside .aside__wrapper {
  max-width: 1300px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-size: contain;
}
aside .aside__wrapper .aside__wrapper1 {
  width: 100%;
  min-height: 600px;
  padding: 15rem 0 0 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/scr/png/IMAGE.png);
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  aside .aside__wrapper .aside__wrapper1 {
    width: 100%;
    background-size: cover;
  }
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item {
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
  font-size: 75px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: -2rem -1rem 5rem;
}
@media (max-width: 1100px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    font-size: 70px;
    letter-spacing: 2px;
  }
}
@media (max-width: 980px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    font-size: 65px;
    letter-spacing: 2px;
  }
}
@media (max-width: 850px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    font-size: 55px;
    letter-spacing: 2px;
  }
}
@media (max-width: 720px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }
}
@media (max-width: 650px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    font-size: 45px;
    letter-spacing: 2px;
  }
}
@media (max-width: 400px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item h1 {
    padding: 9rem 0 0 0;
    font-size: 40px;
    letter-spacing: 2px;
  }
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button {
  padding: 0.5rem 2rem;
  font-size: 18px;
  margin: 0 3rem;
  border: none;
  border-radius: 5px;
  background-color: #69B9FF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;
}
@media (max-width: 800px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button {
    font-size: 10px;
    display: block;
    width: 60%;
    margin: -2rem auto;
    padding: 0.6rem 1rem;
    font-size: 13px;
  }
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button:hover {
  transition-duration: 0.5s;
  background: none;
  border: 1px solid whitesmoke;
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button1 {
  padding: 0.5rem 2rem;
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  transition-duration: 0.5s;
}
@media (max-width: 800px) {
  aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button1 {
    font-size: 10px;
    display: block;
    width: 60%;
    margin: 3.5rem auto;
    padding: 0.6rem 1rem;
    font-size: 13px;
  }
}
aside .aside__wrapper .aside__wrapper1 .aside__wrapper-item .button1:hover {
  background-color: #69B9FF;
  border: none;
  transition-duration: 0.5s;
}

section {
  width: 100%;
  margin: auto;
  padding: 1rem 0 2rem;
}
section .section__wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 0 1rem 0;
  align-items: center;
  justify-content: center;
}
section .section__wrapper .section__wrapper-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}
section .section__wrapper .section__wrapper-item h1 {
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 480;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  section .section__wrapper .section__wrapper-item h1 {
    font-size: 60px;
  }
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item h1 {
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item h1 {
    font-size: 45px;
  }
}
@media (max-width: 800px) {
  section .section__wrapper .section__wrapper-item h1 {
    font-size: 35px;
  }
}
@media (max-width: 700px) {
  section .section__wrapper .section__wrapper-item h1 {
    margin: -2.5rem 0 0 0;
    font-size: 28px;
    font-weight: 650;
  }
}
section .section__wrapper .section__wrapper-item h4 {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: rgb(74, 74, 74);
  margin: 0.4rem 0 0 0;
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item h4 {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item h4 {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
@media (max-width: 800px) {
  section .section__wrapper .section__wrapper-item h4 {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 {
  max-width: 1200px;
  padding: 1rem;
  margin: 3rem auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media (max-width: 830px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 {
    display: flex;
    flex-direction: column;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item {
  width: 25%;
  border: 1px solid grey;
  border-radius: 6px;
  margin: auto;
  padding: 0.2rem;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.5s;
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item {
    width: 23%;
    padding: 0.1rem;
    margin: auto;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item {
    width: 100%;
    margin: auto;
    padding: 0.1rem;
  }
}
@media (max-width: 810px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item:hover {
  box-shadow: 0 0 7px 2px rgb(0, 115, 255);
  transition-duration: 0.5s;
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img {
  width: 100%;
  min-height: 150px;
  background-image: url(/scr/png/IMAGE\ \(1\).png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 4rem 0;
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img {
    margin: auto;
  }
}
@media (max-width: 950px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img {
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img {
    margin: auto;
    margin: 0 3rem 0;
  }
}
@media (max-width: 780px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img {
    width: 80%;
    margin: 0 4rem 0;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img1 {
  width: 100%;
  min-height: 150px;
  background-image: url(/scr/png/IMAGE\ \(2\).png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 4rem 0;
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img1 {
    margin: auto;
  }
}
@media (max-width: 950px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img1 {
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img1 {
    margin: auto;
  }
}
@media (max-width: 780px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img1 {
    width: 80%;
    margin: 0 4rem 0;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img2 {
  width: 100%;
  min-height: 150px;
  background-image: url(/scr/png/IMAGE\ \(3\).png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 4rem 0;
}
@media (max-width: 1000px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img2 {
    margin: auto;
  }
}
@media (max-width: 950px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img2 {
    margin: auto;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img2 {
    margin: auto;
  }
}
@media (max-width: 780px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item .img2 {
    width: 80%;
    margin: 0 4rem 0;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item h1 {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0.4rem 0 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(58, 58, 58);
}
@media (max-width: 1140px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item h1 {
    font-size: 25px;
  }
}
@media (max-width: 950px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item h1 {
    font-size: 20px;
    font-weight: 400;
  }
}
@media (max-width: 800px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item h1 {
    font-size: 20px;
    font-weight: 500;
  }
}
section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item p {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 0 1rem 1rem;
  color: rgb(89, 89, 89);
}
@media (max-width: 970px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item p {
    font-size: 16px;
  }
}
@media (max-width: 950px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item p {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  section .section__wrapper .section__wrapper-item .section__wrapper-item__22 .section__wrapper__item p {
    font-size: 14px;
  }
}

main {
  width: 100%;
  margin: auto;
}
main .main__wrapper {
  max-width: 1300px;
  margin: auto;
  padding: 4rem 0 2rem 0;
  background-color: #192024;
}
main .main__wrapper .main__wrapper-item {
  text-align: center;
  justify-content: center;
  align-items: center;
}
main .main__wrapper .main__wrapper-item h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 900px) {
  main .main__wrapper .main__wrapper-item h1 {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  main .main__wrapper .main__wrapper-item h1 {
    font-size: 35px;
  }
}
@media (max-width: 700px) {
  main .main__wrapper .main__wrapper-item h1 {
    font-size: 33px;
  }
}
main .main__wrapper .main__wrapper-item h3 {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  margin: 0.5rem 0 0;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  main .main__wrapper .main__wrapper-item h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
@media (max-width: 700px) {
  main .main__wrapper .main__wrapper-item h3 {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 1rem 0;
  }
}
main .main__wrapper .main__wrapper-item .main__wrapper-card {
  max-width: 1200px;
  margin: 4rem auto 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 850px) {
  main .main__wrapper .main__wrapper-item .main__wrapper-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 40px;
  }
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card {
  width: 40%;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid grey;
}
@media (max-width: 850px) {
  main .main__wrapper .main__wrapper-item .main__wrapper-card .card {
    width: 90%;
    margin: auto;
  }
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card .rasm {
  width: 100%;
  min-height: 300px;
  background-image: url(/scr/png/IMAGE\ \(4\).png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card .rasm1 {
  width: 100%;
  min-height: 300px;
  background-image: url(/scr/png/IMAGE\ \(5\).png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card h1 {
  font-size: 30px;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 3rem 0 0.5rem;
}
@media (max-width: 850px) {
  main .main__wrapper .main__wrapper-item .main__wrapper-card .card h1 {
    font-size: 28px;
  }
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: white;
  padding: 0 2rem 0.8rem;
}
@media (max-width: 850px) {
  main .main__wrapper .main__wrapper-item .main__wrapper-card .card p {
    font-size: 17px;
  }
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card button {
  padding: 0.5rem 3rem;
  background: none;
  border: 1px solid whitesmoke;
  margin: 0.5rem 0 2rem;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  transition-duration: 0.5s;
}
main .main__wrapper .main__wrapper-item .main__wrapper-card .card button:hover {
  background-color: #253036;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px 3px #6987ff;
  border: none;
}

footer {
  width: 100%;
  margin: auto;
  padding: 1rem 0 0;
}
footer .footer__wrapper {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 0rem;
  display: block;
}
footer .footer__wrapper .footer__wrapper_card {
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer .footer__wrapper .footer__wrapper_card h1 {
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #232c32;
  margin: 2rem 0 0;
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card h1 {
    font-size: 34px;
  }
}
@media (max-width: 800px) {
  footer .footer__wrapper .footer__wrapper_card h1 {
    font-size: 30px;
  }
}
footer .footer__wrapper .footer__wrapper_card p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(86, 86, 86);
  margin: 0.7rem;
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card p {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  footer .footer__wrapper .footer__wrapper_card p {
    font-size: 15px;
    letter-spacing: 1.5px;
  }
}
footer .footer__wrapper .footer__wrapper_card button {
  margin: 3rem 2rem 2rem 0;
  padding: 0.8rem 3rem;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  background-color: #2E80B6;
  transition-duration: 0.5s;
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card button {
    font-size: 13px;
    margin: 2rem 1.4rem 1rem;
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 710px) {
  footer .footer__wrapper .footer__wrapper_card button {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 60%;
    text-align: center;
    align-items: center;
  }
}
footer .footer__wrapper .footer__wrapper_card button:hover {
  transition-duration: 0.5s;
  box-shadow: 3px 3px 3px #2E80B6;
  background-color: #004878;
}
footer .footer__wrapper .footer__wrapper_card .disert {
  width: 80%;
  min-height: 620px;
  border-radius: 6px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url(/scr/png/IMAGE\ \(6\).png);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1rem;
}
@media (max-width: 1200px) {
  footer .footer__wrapper .footer__wrapper_card .disert {
    width: 80%;
    min-height: 600px;
    padding: 0.5rem;
    background-size: contain;
  }
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card .disert {
    width: 75%;
    min-height: 450px;
    background-size: contain;
  }
}
@media (max-width: 900px) {
  footer .footer__wrapper .footer__wrapper_card .disert {
    width: 80%;
    padding: 1rem;
    margin: auto;
    background-size: cover;
  }
}
@media (max-width: 410px) {
  footer .footer__wrapper .footer__wrapper_card .disert {
    width: 100%;
    background-size: 100%;
    min-height: 230px;
    padding: 1rem;
  }
}
footer .footer__wrapper .footer__wrapper_card h2 {
  font-size: 34px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 1.4rem 0 0.5rem;
}
@media (max-width: 1140px) {
  footer .footer__wrapper .footer__wrapper_card h2 {
    font-size: 29px;
    margin: -2rem 0 0 0;
  }
}
@media (max-width: 1080px) {
  footer .footer__wrapper .footer__wrapper_card h2 {
    font-size: 25px;
    margin: -4rem 0 0 0;
  }
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card h2 {
    font-size: 25px;
    margin: 0.5rem 0 0 0;
  }
}
@media (max-width: 900px) {
  footer .footer__wrapper .footer__wrapper_card h2 {
    margin: 1rem;
  }
}
@media (max-width: 700px) {
  footer .footer__wrapper .footer__wrapper_card h2 {
    font-size: 27px;
    margin: 1.5rem 0 0 0;
  }
}
footer .footer__wrapper .footer__wrapper_card h5 {
  font-size: 15px;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(79, 79, 79);
  font-weight: 400;
  margin: 0.2rem 0;
}
@media (max-width: 1000px) {
  footer .footer__wrapper .footer__wrapper_card h5 {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  footer .footer__wrapper .footer__wrapper_card h5 {
    font-size: 13px;
    text-align: inherit;
    padding: 0.1rem 0 1.5rem 0;
    margin: 0.5rem 0 -2.5rem;
  }
}
@media (max-width: 750px) {
  footer .footer__wrapper .footer__wrapper_card .h5 {
    display: none;
  }
}
footer .footer__wrapper .footer__wrapper_card1 {
  max-width: 1200px;
  min-height: 100px;
  padding: 3rem 0.5rem 2rem;
  margin: 2rem auto 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  gap: 30px;
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item {
  width: 28%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1050px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item {
    width: 25%;
  }
}
@media (max-width: 930px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item {
    width: 25%;
    justify-content: space-around;
  }
}
@media (max-width: 850px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}
@media (max-width: 400px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item {
    width: 110%;
    padding: 0.3rem;
  }
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item h3 {
  font-size: 30px;
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: rgb(54, 54, 54);
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item h3 {
    font-size: 25px;
    padding: 0.2rem;
    letter-spacing: 2px;
  }
}
@media (max-width: 850px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item h3 {
    font-size: 21px;
    padding: 0.2rem;
    letter-spacing: 2.5px;
  }
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item p {
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #6A859C;
  padding: 0.5rem;
}
@media (max-width: 1050px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item p {
    font-size: 15px;
    padding: 0.3rem;
  }
}
@media (max-width: 400px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item p {
    text-align: center;
    font-size: 15px;
    padding: 0.2rem;
  }
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item input {
  width: 90%;
  padding: 0.75rem 0.8rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
@media (max-width: 1050px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item input {
    width: 90%;
    padding: 0.6rem 0.6rem;
  }
}
@media (max-width: 850px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item input {
    width: 90%;
    padding: 0.7rem;
  }
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item ::-moz-placeholder {
  color: #6A859C;
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item ::placeholder {
  color: #6A859C;
}
footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item i {
  font-size: 20px;
}
@media (max-width: 1050px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item i {
    font-size: 16px;
  }
}
@media (max-width: 851px) {
  footer .footer__wrapper .footer__wrapper_card1 .footer__wrapper_card1-item i {
    display: none;
  }
}

.footer__wrapper_card2 {
  max-width: 1300px;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #232c32;
  padding: 0.5rem;
}
.footer__wrapper_card2 h1 {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9E9E9E;
}
@media (max-width: 490px) {
  .footer__wrapper_card2 h1 {
    font-size: 12px;
    padding: 0.4rem;
  }
}/*# sourceMappingURL=style.css.map */